
/* Bea */

*{
    background: #bd8ad5; 
}

body {
    font-family: sans-serif;
    min-width: 200px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    
  }
  ul {
    list-style: none;
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    grid-gap: 20px;
    gap: 40px;
  }
  a {
    background: #fbcefc;
    text-align:center;
    border-radius: 20px;
    width: 200px;
    padding: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3); 
  }
    a:hover {
    scale: 1.4;
    overflow: hidden;
    background:#edfdff;
  }
aside {
    border: 1px solid #ccc;
    padding: 10px;
    width: 200px;
  }

 li a{
    padding: 15px 40px;
}
 
 