/* Estilos para el main */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
  }
  
  .crawl-container {
    width: 80%;
    margin: 0 auto;
  }
  
  .crawl {
    perspective: 1000px;
    overflow: hidden;
  }
  
  .crawl-text {
    position: relative;
    animation: crawl-animation 5s linear forwards;
    animation-delay: 2s;
    text-align: center;
    font-family: sans-serif;
    font-size: 48px;
    line-height: 1.5;
  }
  
  .crawl-title {
    display: inline-block;
    color: #000;
    -webkit-text-fill-color: #000;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ffd700;
  }
  
  .crawl-title span {
    display: block;
  }
  
  @keyframes crawl-animation {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    100% {
      transform: scale(0);
      opacity: 0;
    }
  }