body{
    background: tan;
    font-family: sans-serif;
    padding: 20px;
    max-width:960px;
    margin-inline:auto;
    text-align: center;
    list-style: none;
    }
    
    header, main, footer{
        background: white;
        padding: 20px;
        border-radius: 20px;
        margin-top: 20px;
        list-style: none;
    }
    img{
        max-width: 100%;
    }