:root{
    --c1:rgb(47, 152, 113);
}


body{
background: var(--c1);
font-family: sans-serif;
padding: 20px;
max-width:960px;
margin-inline:auto;
}

header, main, footer{
    background: white;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    border: green 2px solid;
    text-align: center;
}

p{
    text-align: justify;
}

img{
    max-width: 100%;
}

ul{
    padding-left: 0;
    display: flex;
    list-style: none;
    gap:10px;
}

a{
    color: var(--c);;
}