body{
background: rgb(27, 202, 255);
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
padding: 10px;
max-width:960px;
margin-inline:auto;
}

header, main, footer{
    background: whitesmoke;
    padding: 10px;
    border-radius: 0px;
    margin-top: 10px;
}
img{
         border-radius: 10px;
    max-width: 50%;
    border-color: black 2px;
}
aside img{
    
}